 /*  Reset Css */ 
  * { 
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  html {
      scroll-behavior: smooth;
      font-family: Helvetica ,Arial , sans-serif;
  }

  /*  common */
  .row {
      margin-left: -8px;
      margin-right: -8px;
  }

  .row::after {
      content: "";
      display: block;
      clear: both;
  }

  .mt-8 {
      margin-top: 8px !important;
  }

  .mt-16 {
    margin-top: 16px !important;
}

  .col {
      float: left;
      padding-left: 8px;
      padding-right: 8px;
  }

  .col-third {
      width: 33.33333%;
  }

  .col-full {
    width: 100%;
}

  .col-half {
        width: 50%;
  }

  .text-while {
      color: #fff !important;
  }

  .btn {
    color: #fff;
    background: #000;
    padding: 11px 13px;
    display: inline-block;
    text-decoration: none;
    margin-top: 15px;
    border:none ;
    text-align: center;
}

.btn:hover {
    background-color: #ccc;
    cursor: pointer;
}

.pull-right {
    float: right;
} 
/*  khi mà khai báo class với một thuộc tính thì nên thêm !importan vàn trong thuộc tính đó */

  .text-center {
      text-align-last: center !important;
  }

  .clear-float {
      clear: both;
  }

/*  end common  styles */
 

#main {
 
}



#nav {
    display: inline-block;
}

#nav ,.subnav {
    list-style-type: none; 
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav li:hover .subnav {
    display:block;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}


#nav li a {
    
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav > li:hover > a ,
#nav .subnav li:hover {
    color: #000;
    background-color : #ccc;
    
}


#nav .subnav {
    min-width: 160px;
    display: none;
    position:  absolute ;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height:38px;
}

#nav li .subnav  li {
    display: block;
    min-width: 160px;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #000;
    z-index: 1;
   
}

#header .mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .mobile-menu-btn,
#header .search-icon-btn {
    float:right;
    color: #fff;
    padding: 0 21px;
}


#header .search-icon-btn:hover {
    cursor: pointer;
    background-color: #f44336;  
}

#header .mobile-menu-btn:hover {
    background-color: #ccc;
}

#header .mobile-menu-btn:hover .menu-icon {
   color: #000;
}

#header .menu-icon,
#header .search-btn {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}


#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('./img/slider/slider1.jpg') top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    color: #fff;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    /* left: 0;
    right: 0; 
    width:100% ; để hắn kéo hết chiều dài ra toàn màn hình
     cộng thên text-align : center là tự động căng giữa 
    */
   
}

#slider .text-heading {
    font-weight: 500;
}

#slider .text-description {
    margin-top: 25px;
    text-shadow: 0 0 1px #000;
}


#content {
 
}

#content .content__section {
    width: 800px;
    max-width: 100%;
    padding: 64px 0 ;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading {
    text-align: center;
    font-weight: 500;
    letter-spacing: 4px;
    
}

#content .section-sub-heading {
    text-align: center;
    font-style: italic;
    margin-top: 25px;
    opacity: 0.5;
}

/* begin about section */

#content .section-about {
    text-align:center;
    margin-top: 30px;
    line-height: 1.4;
    text-align: justify;

}

#content .fruit-list {
   padding-top: 48px;
  
}

#content .fruit-item {
    font-size: 15px;
    text-align: center; 
}

/* width: calc(100%/3);  chia độ rộng của phần tử thành 3 phần bằng nhau */

#content .fruit-name {
    margin: 15px 15px;
}

#content .fruit-image {
    width: 154px;
    border-radius: 4px;
}
/*  end content about */

/* begin content tour  */

.content-tour {
    background-color: #000;
    color: #fff;
    
}

.content-tour .section-heading {
   padding-top: 40px;
}

.content-tour .section-sub-heading {
    color: #ccc;
}

.content-tour .content-ticket {
    list-style-type: none;
    background-color: #fff;
    color: #000;
    margin-top: 40px;
}

.content-ticket .ticket-item {
    padding: 10px 12px;
    border-bottom: 0.1px solid #ddd;
    color: #757575;
}

.ticket-item .quantity {
    float: right;
    background-color: #000;
    color: white;
    padding: 4px;
    border-radius: 50%;
    margin-top: -3px;
    width: 26px;
    text-align: center;
}

.ticket-item .sold-out {
    background-color: #f44336;
    margin-left: 16px;
    padding : 4px;
    color: #fff;
}

.travel-list {   
    margin-top: 32px;
    padding-bottom: 48px;

}

.travel-item {  
    width: 33.33333%;
}

.travel-image {
    width: 100%;
    display : block;
   
}

.travel-image:hover {
    opacity: 0.6; 
}

.travel-body {
    font-size: 15px;
    padding: 16px; 
    background: #fff;
    color: #000;
    
}
.travel-heading {
    font-size: 15px;
    font-weight: 600;
}
 

.travel-time {
    margin-top: 15px;
    color: #757575;
}

.travel-description {
    margin-top: 15px;
    line-height: 1.4;
}




/* end content tour */

/*  start contact  */
.contact-content {
    margin-top: 48px;

}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control  {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
}

.contact-form .form-submit-btn {
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    padding: 10px 16px;
    float: right;
    letter-spacing: 1.5px;
}

.contact-form .form-submit-btn:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
  
  
}

/*  end contact  */

/* begin map  */
.map-secsion img {
    width: 100%;
}
/* end map  */

#footer {
    padding: 70px 0;
    text-align: center;
}

.cocial-list {
    padding: 8px 0;
}

.cocial-list a {
    text-decoration: none;
}

.cocial-list a i {
    font-size: 20px;
}

.cocial-list a i:hover {
    opacity: 0.5;
}

/* begin modal  */ 
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
    display: none;
    
    
}

.modal.open {
    display: flex;
}

.modal .modal-container {
    background-color: #fff;
    position: relative;
    width: 900px;
    min-width: calc(100%-32px);
    min-height: 200px;
    animation:  modalFaceIn  ease 0.6s;
    
}

.modal-heading-icon {
    margin-right: 16px;
    color: #fff;
    font-size: 30px;
}

.modal .modal-close {
    position: absolute;
    right: 0;
    padding: 5px 10px;
    opacity: 1;
    cursor: pointer;
}

.modal .modal-close:hover {
    color: #fff;
    background: #ccc;
}

.modal .modal-header {
    background-color: #009688;
    height :130px;
    /* text-align: center;
    line-height: 130px;  căn giữa màn hình */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px;
}

.modal .modal-body {
    padding: 16px;

}

.modal .modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal .modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 20px;
}

.modal #buy-tickets {
    width: 100%;
    background-color: #009688;
    border: none ;
    color : #fff;
    font-weight: 600;
    padding: 20px;
}


.modal #buy-tickets:hover {
    color: #000;
    background: #ccc;
}

.modal-footer {
    text-align: right;
    padding: 10px;
}

.modal-footer a {
    color: #2196F3 ;
}

@keyframes modalFaceIn {
    from 
        {
            opacity: 0;
            transform: translateY(-130px);
        }
    to 
        {
            opacity: 1;
            transform: translateY(0);
        }
}
/* 
.text-content {
    height: 100%;
} */